<div class="hold-transition register-page">
    <div class="register-box animate__animated animate__backInLeft">
        <div class="card text-white text-center bg-primary" >
            <div class="card-header">Registrar Usuario</div>
        </div>
        <div class="card ">
            <div class="card-body register-card-body">
                <cargando [showSpinner]="frmcargando"></cargando>
                <form  [formGroup]="frm" [hidden]="frmcargando"  (validSubmit)="accionRegistrado()">
                    
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="name" placeholder="Nombre"  required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user-circle" style="color: rgb(48, 37, 37);"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" formControlName="email"  placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" required >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock" style="color: rgb(48, 37, 37);;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">  
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-success btn-block" >Registrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <a routerLink="/login" class="text-center link-reg" >Ya tengo cuenta creada?</a>
                </form>
            </div>
            <!-- /.form-box -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>
