 <div class="container text-center mt-5">
  <div class="card">
    <h1><strong class="mt-4">Video</strong></h1>
    <ng-container *ngIf="frmcargando === false">
        <youtube-player
          videoId="goNyvVYw8d4"
          [height]="250"
          [width]="500"
          (ready)="lectura($event)"
          [startSeconds]="videoInicio"
          [endSeconds]="videoFinal"
          (stateChange)="videoStateChange($event)"
          [playerVars]="autoplay"
            >
        </youtube-player>
    </ng-container>
   </div>  
</div>

 