<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img src="./assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <a href="dashboard" class="brand-text font-weight-wihte">MENÚ PRINCIPAL</a>
  </a>


  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
          <img src="./assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="dashboard" class="d-block">{{ nombreUsuario }} </a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <div class="accordion accordion-flush " id="accordionPanelsStayOpenExample">
          <div class="accordion-item ">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;&nbsp; Curso PseInt
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne2" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne2">
                    Secuenciales
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne2" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne2">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-pseint'">
                      <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne3">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne3" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne3">
                    Condicionales
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne3" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne3">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'condicionales-pseint'">
                      <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                    </button>
                  </div>
                </div>
              </div>
            </div>

          <!--<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne4">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne4" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne4">
                    Swicht
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne4" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne4">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'condicionales-ejercicio1'">
                      <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos 1
                    </button>
                  </div>
                </div>
              </div>
            </div>-->

            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne5">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne5" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne5">
                    For
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne5" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne5">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'for-pseint'">
                      <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne6">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne6" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne6">
                    While
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne6" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne6">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'while-pseint'">
                      <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
           <!-- Java -->
          <div class="accordion-item ">
            <h2 class="accordion-header" id="panel2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel2-collapse" aria-expanded="true" aria-controls="panel2-collapse">
                <i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;&nbsp; Curso Java
              </button>
            </h2>
            <div id="panel2-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="subpanel2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel2-collapse" aria-expanded="true" aria-controls="subpanel2-collapse">
                    Secuenciales
                  </button>
                </h2>
                <div id="subpanel2-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel2">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-java'">
                      <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                    </button>
                </div>
                </div>
              </div>
            </div>

            <div id="panel2-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="subpanel3">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel3-collapse" aria-expanded="true" aria-controls="subpanel3-collapse">
                    Condicionales
                  </button>
                </h2>
                <div id="subpanel3-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel3">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'condicionales-java'">
                      <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--<div id="panel2-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="subpanel4">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel4-collapse" aria-expanded="true" aria-controls="subpanel4-collapse">
                    Swicht
                  </button>
                </h2>
                <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'swicht-java'">
                      <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                    </button>
                </div>
                </div>
              </div>
            </div>-->
            <div id="panel2-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="subpanel5">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel5-collapse" aria-expanded="true" aria-controls="subpanel5-collapse">
                    For
                  </button>
                </h2>
                <div id="subpanel5-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel5">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'for-java'">
                      <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                    </button>
                </div>
                </div>
              </div>
            </div>
            <div id="panel2-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="subpanel6">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel6-collapse" aria-expanded="true" aria-controls="subpanel6-collapse">
                    While
                  </button>
                </h2>
                <div id="subpanel6-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel6">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'while-java'">
                      <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Python -->
            <div class="accordion-item ">
              <h2 class="accordion-header" id="panel4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel4-collapse" aria-expanded="true" aria-controls="panel4-collapse">
                  <i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;&nbsp; Curso Python
                </button>
              </h2>
              <div id="panel4-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel4">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel2-collapse" aria-expanded="true" aria-controls="subpanel2-collapse">
                      Secuenciales
                    </button>
                  </h2>
                  <div id="subpanel2-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel2">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-phyton'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div id="panel4-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel4">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel3-collapse" aria-expanded="true" aria-controls="subpanel3-collapse">
                      Condicionales
                    </button>
                  </h2>
                  <div id="subpanel3-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel3">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'condicionales-phyton'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>
             <!-- <div id="panel4-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel4">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel4-collapse" aria-expanded="true" aria-controls="subpanel4-collapse">
                      Swicht
                    </button>
                  </h2>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 1
                      </button>
                  </div>
                  </div>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 2
                      </button>
                  </div>
                  </div>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 3
                      </button>
                  </div>
                  </div>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 4
                      </button>
                  </div>
                  </div>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 5
                      </button>
                  </div>
                  </div>
                </div>
              </div>--->
              <div id="panel4-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel4">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel5-collapse" aria-expanded="true" aria-controls="subpanel5-collapse">
                      For
                    </button>
                  </h2>
                  <div id="subpanel5-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel5">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'for-phyton'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="panel4-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel4">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel6-collapse" aria-expanded="true" aria-controls="subpanel6-collapse">
                      While
                    </button>
                  </h2>
                  <div id="subpanel6-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel6">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'while-phyton'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- JavaScript -->
            <div class="accordion-item ">
              <h2 class="accordion-header" id="panel5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel5-collapse" aria-expanded="true" aria-controls="panel5-collapse">
                  <i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;&nbsp; Curso JavaScript
                </button>
              </h2>
              <div id="panel5-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel2-collapse" aria-expanded="true" aria-controls="subpanel2-collapse">
                      Secuenciales
                    </button>
                  </h2>
                  <div id="subpanel2-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel2">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-javascrip'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                </div>
              </div>
              </div>
              <div id="panel5-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel3-collapse" aria-expanded="true" aria-controls="subpanel3-collapse">
                      Condicionales
                    </button>
                  </h2>
                  <div id="subpanel3-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel3">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'condicionales-javascript'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>
             <!-- <div id="panel5-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel4-collapse" aria-expanded="true" aria-controls="subpanel4-collapse">
                      Swicht
                    </button>
                  </h2>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 1
                      </button>
                    </div>
                  </div>
                </div>
              </div>-->
              <div id="panel5-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel5-collapse" aria-expanded="true" aria-controls="subpanel5-collapse">
                      For
                    </button>
                  </h2>
                  <div id="subpanel5-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel5">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'for-javascript'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="panel5-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel6-collapse" aria-expanded="true" aria-controls="subpanel6-collapse">
                      While
                    </button>
                  </h2>
                  <div id="subpanel6-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel6">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'while-javascript'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- PHP -->
            <div class="accordion-item ">
              <h2 class="accordion-header" id="panel6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel6-collapse" aria-expanded="true" aria-controls="panel6-collapse">
                  <i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;&nbsp; Curso PHP
                </button>
              </h2>
              <div id="panel6-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel6">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel2-collapse" aria-expanded="true" aria-controls="subpanel2-collapse">
                      Secuenciales
                    </button>
                  </h2>
                  <div id="subpanel2-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel2">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-php'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div id="panel6-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel3-collapse" aria-expanded="true" aria-controls="subpanel3-collapse">
                      Condicionales
                    </button>
                  </h2>
                  <div id="subpanel3-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel3">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'condicionales-php'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div id="panel6-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel4-collapse" aria-expanded="true" aria-controls="subpanel4-collapse">
                      Swicht
                    </button>
                  </h2>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 1
                      </button>
                  </div>
                  </div>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 2
                      </button>
                  </div>
                  </div>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 3
                      </button>
                  </div>
                  </div>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 4
                      </button>
                  </div>
                  </div>
                  <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Video 5
                      </button>
                  </div>
                  </div>
                </div>
              </div>-->
              <div id="panel6-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel5-collapse" aria-expanded="true" aria-controls="subpanel5-collapse">
                      For
                    </button>
                  </h2>
                  <div id="subpanel5-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel5">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'for-php'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="panel6-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel5">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="subpanel6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel6-collapse" aria-expanded="true" aria-controls="subpanel6-collapse">
                      While
                    </button>
                  </h2>
                  <div id="subpanel6-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel6">
                    <div class="accordion-body">
                      <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'while-php'">
                        <i class="nav-icon fas fa-solid fa-video"></i>&nbsp;&nbsp;Videos
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           <!-- Taller Practico -->
           <div class="accordion-item ">
              <h2 class="accordion-header" id="panel3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel3-collapse" aria-expanded="true" aria-controls="panel3-collapse">
                  <i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;&nbsp; Taller Practico
                </button>
              </h2>
              <div id="panel3-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel3">
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="subpanel3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel3-collapse" aria-expanded="true" aria-controls="subpanel3-collapse">
                          Secuenciales Basico
                        </button>
                      </h2>
                      <div id="subpanel3-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel3">
                        <div class="accordion-body">
                          <button (click)="generatePDF(1)" type="button" aria-expanded="true" [routerLink]="'secuenciales-practico'">
                            Ejercicios
                        </button>
                      </div>
                    </div>
                    <h2 class="accordion-header" id="subpanel4">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel4-collapse" aria-expanded="true" aria-controls="subpanel4-collapse">
                        Condicionales Anidados
                      </button>
                    </h2>
                    <div id="subpanel4-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel4">
                      <div class="accordion-body">
                        <button (click)="generatePDF(2)" type="button" aria-expanded="true" [routerLink]="'condicionales-practico'">
                            Ejercicios
                        </button>
                     </div>
                    </div>
                  <h2 class="accordion-header" id="subpanel5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel5-collapse" aria-expanded="true" aria-controls="subpanel5-collapse">
                      Ciclos Basico
                    </button>
                  </h2>
                  <div id="subpanel5-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel5">
                    <div class="accordion-body">
                      <button (click)="generatePDF(3)" type="button" aria-expanded="true" [routerLink]="'condicionales-practico'">
                        Ejercicios
                      </button>
                    </div>
                  </div>
                </div>
             </div>
            <!-- Cerrar Session -->
              <div class="accordion-item ">
                <h2 class="accordion-header" >
                  <button class="btn btn-link fcc-btn" type="button" aria-expanded="true"  (click)="logout()" aria-controls="panel2-collapse">
                    &nbsp;&nbsp;<i class="nav-icon fas fa-sign-out-alt"></i>&nbsp;&nbsp; Cerrar sesión
                  </button>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </nav>
  </div>
</aside>
