<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img src="./assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <a href="dashboard" class="brand-text font-weight-wihte">MENÚ PRINCIPAL</a>
  </a>


  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
          <img src="./assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="dashboard" class="d-block">{{ nombreUsuario }} </a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <div class="accordion accordion-flush " id="accordionPanelsStayOpenExample">
          <div class="accordion-item ">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;&nbsp; Curso PseInt
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne2" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne2">
                    Secuenciales
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne2" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne2">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        Videos
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
           <!-- Visual  Basic -->
          <div class="accordion-item ">
            <h2 class="accordion-header" id="panel2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel2-collapse" aria-expanded="true" aria-controls="panel2-collapse">
                <i class="nav-icon fas fa-tachometer-alt"></i>&nbsp;&nbsp; Curso Visual Basic
              </button>
            </h2>
            <div id="panel2-collapse" class="accordion-collapse collapse  accordion-flush flex-column " aria-labelledby="panel2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="subpanel2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpanel2-collapse" aria-expanded="true" aria-controls="subpanel2-collapse">
                    Secuenciales
                  </button>
                </h2>
                <div id="subpanel2-collapse" class="accordion-collapse collapse " aria-labelledby="subpanel2">
                  <div class="accordion-body">
                    <button class=" btn btn-link fcc-btn" type="button" aria-expanded="true" [routerLink]="'secuenciales-ejercicio1'">
                        Ejercicios 1
                    </button>
                </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Boton Activdades -->
          <div class="accordion-item ">
            <h2 class="accordion-header" >
              <button class="btn btn-link fcc-btn" type="button" aria-expanded="true"  (click)="logout()" aria-controls="panel2-collapse">
                &nbsp;&nbsp;<i class="nav-icon fas fa-sign-out-alt"></i>&nbsp;&nbsp; Actividades
              </button>
            </h2>
          </div>
          <!-- Cerrar Session -->
          <div class="accordion-item ">
            <h2 class="accordion-header" >
              <button class="btn btn-link fcc-btn" type="button" aria-expanded="true"  (click)="logout()" aria-controls="panel2-collapse">
                &nbsp;&nbsp;<i class="nav-icon fas fa-sign-out-alt"></i>&nbsp;&nbsp; Cerrar sesión
              </button>
            </h2>
          </div>
        </div>
      </ul>
    </nav>
  </div>
</aside>
